.Dice {
  width: 45%;
  text-align: center;
  background-color: #282c34;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}


.Dice h4{
  color: darkgray;
}

.Dice h5{
  color: white;
}

.Square img {
  width: 100%;
  height: 100%;
}
